/* Main container styling */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 50vh;
  background: linear-gradient(135deg, #4a90e2, #f0f0f0);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 18px;
}

/* Form container styling */
.signupForm {
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(92, 227, 175, 0.15);
  width: 80%;
  max-width: 500px; /* Set a max-width for responsiveness */
  transition: transform 0.3s ease;
  animation: fadeInUp 0.5s ease-in-out;
}

.signupForm:hover {
  transform: translateY(-10px);
}

/* Form heading */
.signupForm h1 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

/* Label styling */
.signupForm label {
  font-size: 14px;
  color: #333;
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

/* Field styling */
.signupForm input[type="text"],
.signupForm input[type="email"],
.signupForm input[type="password"],
.signupForm select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* Input field focus effect */
.signupForm input[type="text"]:focus,
.signupForm input[type="email"]:focus,
.signupForm input[type="password"]:focus,
.signupForm select:focus {
  border-color: #4a90e2;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(74, 144, 226, 0.2);
  outline: none;
}

/* Error message styling */
.errorContainer .formError {
  color: #e74c3c;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-style: italic;
}

/* Submit button styling */
.signupForm button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4a90e2;
  color: #fff;
  box-shadow: 0 4px 8px rgba(74, 144, 226, 0.3);
  transition: backgro;
}

.paragraph {
  color: red;
}
